{erl_opts, [debug_info]}.
{deps, [
        {cowboy, "1.1.2"},
        {jiffy, "0.14.11"},
        {syn, "1.6.1"}
       ]}.

{relx, [{release, {erlbin, "0.0.1"},
         [erlbin]},
         {dev_mode, true},
         {include_erts, false},
         {extended_start_script, false}
         ]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                           {include_erts, true},
                           {extended_start_script, true}]}]}]}.
